.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
    display: flex;
    font-weight: var(--fw-el);
    flex-direction: column;                 
    border-bottom: solid 3px transparent;
    padding-bottom: 3px;
}

.navbar li:hover {
    cursor: pointer;
    border-bottom: solid 3px var(--muted-foreground);
}

.navbar .brand {
    font-size: 1.75ch;
    text-align: center;
}

.navbar .navigation {
    display: inline-flex;
    gap: 8px;
}

.navbar .login {
    border: transparent;
    font-size: 16px;
    font-weight: var(--fw-el);
}

.navbar .login:hover {
    cursor: pointer;
}
