.profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5rem;
}

.profile .table {
    border-collapse: collapse;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    table-layout: fixed;
    width: 100%;
}

.profile .table tr {
    display: inline-flex;
    gap: 1.5rem;
    padding: var(--p-s);
    border: solid 1px var(--muted);
    width: 100%;
    justify-content: space-between;
}

.profile .table .table-content:hover {
    background-color: var(--muted);
    cursor: pointer;
}

.profile .table tr > *,
.profile .table div,
.profile .table span {
    background-color: transparent;
}

.profile .table-head th {
    width: 50px;
    text-align: left;
}

.profile .table-content td {
    vertical-align: middle;
    width: 50px;
    padding: 0;
    background-color: transparent;
}

.profile .title {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column-reverse;
}

    .profile .title span {
        overflow: hidden;
        white-space: nowrap;
        max-width: 50px;
        text-overflow: ellipsis;
    }

.profile .label {
    font-weight: var(--fw-b);
    border-radius: calc(var(--radius) - 2px);
    border: solid 1px var(--muted-contrast);
    background-color: var(--muted-contrast);
    display: inline-flex;
    align-items: center;
    padding: var(--p-ss) var(--p-sm);
    font-size: var(--fs-m);
    display: none;
}
