#create-project {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 5rem 0;
    gap: 1rem;
}

#create-project div {
    display: flex;
    flex-direction: column;
}

#create-project button {
    width: 25%;
    padding: 8px;
}