#edit-project {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    gap: 1rem;
    width: 60vw;
}

#edit-project div {
    display: flex;
    flex-direction: column;
}

#edit-project button {
    padding: 8px;
    width: 25%;
}

#edit-project-controls {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    gap: 1rem;
}

#edit-project a {
    color: var(--platinum);
    border-bottom: solid 1px var(--celestial-blue);
    width: fit-content;
    text-decoration: none;
}

#edit-project a:hover {
    color: var(--white);
    border-bottom: solid 1px var(--white);
}