#projects {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 70vh;
    width: 60vw;
    margin: 5rem 0;
    padding: 8px;

    border: solid 1px var(--platinum);
}

#projects-tools {
    padding: 1rem;
    border-bottom: solid 1px var(--platinum-faded);
}

#projects-grid {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#project {
    padding-right: 17px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: fit-content;

    border: solid 1px var(--celestial-blue);
    padding: 12px;
}

#project a {
    text-decoration: none;
    color: var(--white);
    font-size: 3ch;
    width: fit-content;
    margin-bottom: 8px;
}

#project a:hover {
    color: var(--celestial-blue);
}

#project p {
    margin: 0;
    color: var(--platinum-faded);
}

#project span {
    color: var(--platinum-faded);
}