@model BugTrackerMvc.Models.Issue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Status"></label>
                <select class="form-control" value=@Model.Status asp-for="Status" asp-items="Html.GetEnumSelectList<StatusType>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Priority"></label>
                <select class="form-control" value=@Model.Priority asp-for="Priority" asp-items="Html.GetEnumSelectList<PriorityType>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Label"></label>
                <select class="form-control" value=@Model.Label asp-for="Label" asp-items="Html.GetEnumSelectList<LabelType>()"></select>
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Solved" /> @Html.DisplayNameFor(model => model.Solved)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <input class="form-check-input" value=@Model.Poster asp-for="Poster" hidden />
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
