@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>New Issue</h2>

<form method="post" action="/issues/new">
    <label for="Name">Title:</label>
    <input type="text" name="Name" />
    <label for="Description">Description:</label>
    <textarea name="Description"></textarea>
    <label for="Assignee">(Leave blank for unassigned) Assignee:</label>
    <input type="text" name="Assignee" />
    <label for="Status">Status:</label>
    <select name="Status">
        <option value="new" selected>New (Default)</option>
        <option value="open">Open</option>
        <option value="resolved">Resolved</option>
        <option value="closed">Resolved</option>
    </select>
    <button type="submit">Create issue</button>
</form>