{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\MSSQLLocalDB;Database=_CHANGE_ME;Trusted_Connection=True;MultipleActiveResultSets=true"
    "AZURE_SQL_CONNECTIONSTRING": "",
  },
  "GitHub": {
    "ClientId": "",
    "ClientSecret": "",
  }
}